/*
 * Pipeline parameters
 */

params {
    // Primary input (file of input files, one per line)
    input_file        = null
    outdir            = 'results'
}
profiles {
    demo {
        // Primary input (a file with one line of comma-separated greetings)
        params.input_file = "${projectDir}/data/greetings.csv"
    }
}

process.container = 'quay.io/nextflow/bash'